.input-field {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 5px;
  margin: 3%;
}
.input-box {
  margin: 0px;
  padding-top: 5px;
  border-color: var(--primaryDark-color);
  border-width: 2px;
  border-style: hidden hidden dashed none;
  color: var(--primaryDarkest-color);
}
.input-label {
  position: absolute;
  color: var(--primaryDarkest-color);
}

.input-box:focus + .input-label,
.input-box + .input-value--exist {
  transform: translateY(-100%);
}
