.inputField {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 5px;
  margin: 5%;
}
.inputBox {
  margin: 0px;
  padding-top: 3px;
  border-color: var(--primaryDark-color);
  border-width: 2px;
  border-style: hidden hidden dashed none;
  color: var(--primaryDarkest-color);
}
.inputLabel {
  position: absolute;
  color: var(--primaryDarkest-color);
}

.inputBox:focus + .inputLabel,
.inputBox + .existValue {
  transform: translateY(-80%);
}
