.card-id {
  display: flex;
  align-items: center;
  width: 500px;
  min-width: 250px;
  max-width: 50%;
  height: 60px;
  padding: 2% 5%;
  background-color: white;
  position: relative;
  right: -3%;
  border-radius: 10%/ 90%;
  margin: 15px;
}
.card-id::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  margin-left: -15px;
  margin-bottom: -10px;
}

.deco-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -10;
}
.deco-page-left {
  background-color: var(--primaryLightest-color);
  height: 100%;
  width: 68%;
}
.deco-page-right {
  background-color: var(--primaryDarkest-color);
  height: 100%;
  width: 32%;
}
