.side-container {
  display: none;
}

.nav-sidebar--onclick,
.nav-sidebar:hover .side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 30vw;
  height: 90vh;
  position: absolute;
  left: 0;
  top: 12vh;
  background-color: var(--primaryLightest-color);
  opacity: 0.8;
  z-index: 15;
}

.sidebar-upper,
.sidebar-lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  position: absolute;
}

.sidebar-upper {
  justify-content: flex-start;
  height: 70%;
  top: 5%;
}
.sidebar-lower {
  justify-content: flex-end;
  height: 30%;
  bottom: 5%;
}
.btn-sidebar,
.btn-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 3% 0%;
  color: var(--primaryDarkest-color);
  border: 2px solid var(--primary-color);
  background-color: white;
}

.btn-sidebar {
  height: 50px;
  border-radius: 80% 20% 80% 20% / 30% 70% 30% 70%;
}
.btn-logout {
  height: 100px;
  border-radius: 20% 80%/ 80% 20%;
}
