:root {
  /* Color Palette */
  --primary-color: #FCAFB3;
  --secondary-color: #80B9B4;
  --thirdary-color: #DDF4A9;
  --primaryLight-color: #FDBFC2;
  --secondaryLight-color: #9ACCC8;
  --thirdaryLight-color: #E4F7BB;
  --primaryLightest-color: #FDCFD1;
  --secondaryLightest-color: #B4DDDA;
  --thirdaryLightest-color: #EBF9CC;
  --primaryDark-color: #FB9EA2;
  --secondaryDark-color: #66A39E;
  --thirdaryDark-color: #D4F097;
  --primaryDarkest-color: #EB8489;
  --secondaryDarkest-color: #52938E;
  --thirdaryDarkest-color: #C2E17E;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
