:root {
  /* Color Palette */
  --primary-color: #fcafb3;
  --secondary-color: #80b9b4;
  --thirdary-color: #ddf4a9;
  --primaryLight-color: #fdbfc2;
  --secondaryLight-color: #9accc8;
  --thirdaryLight-color: #e4f7bb;
  --primaryLightest-color: #fdcfd1;
  --secondaryLightest-color: #b4ddda;
  --thirdaryLightest-color: #ebf9cc;
  --primaryDark-color: #fb9ea2;
  --secondaryDark-color: #66a39e;
  --thirdaryDark-color: #d4f097;
  --primaryDarkest-color: #eb8489;
  --secondaryDarkest-color: #52938e;
  --thirdaryDarkest-color: #c2e17e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
